/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: lime; color:#fff; text-shadow: none; }
::selection { background:lime; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; text-decoration:none;}
a:hover { color: #036; text-decoration:underline; }


/**
 * Primary styles
 *
 * Author: Sammy Hubner
 */

/* fonts
*************************************************************************/
h1                  { font-size: 138.5%; margin: 1em 0; }
h2                  { font-size: 116%; margin: 1em 0; }
h3                  { font-size: 108%; margin: 1em 0; }
p, td               { line-height:18px; font-size:93%; }
h4, p,
blockquote,  ul,
fieldset,  form,
ol,  dl,  dir,
menu                { margin: 1em 0 }
h4,
h5, h6, b, h1 span
strong              { font-weight: bolder }
blockquote          { margin-left: 40px; margin-right: 40px }
big                 { font-size: 123.1%; }
small,  sub,  sup   { font-size: 77%; }
ol, ul,  dir,  
menu, dd            { margin-left: 40px; }
ol li               { list-style-type:decimal;}
ul li               { list-style-type:disc; min-height: 20px;}
em, .content i      { font-style: italic;}

.iconic { text-decoration:none; }

/* END: fonts
*************************************************************************/

.wrapper
{
	width:980px;
	margin:0 auto;
}

/* Messages
*************************************************************************/
#messages
{
	list-style:none;
	margin:0;
	padding:0;
}

#messages li
{
	list-style:none;
	min-height:0;
}

#messages li p
{
	width:980px;
	margin:0 auto;
	padding:10px;
}

#messages li .close
{
	cursor:pointer;
	float:right;
	font-size:20px;
}

#messages .error                { background:#ffff57; color:#f00; border-bottom:1px solid #444; }
#messages .error a              { color:#f00; text-decoration:underline; }
#messages .error a:hover        { text-decoration:none; }
#messages .error .close         { color:#f00; }
#messages .error .close:hover   { color:#f44; }

#messages .notice               { background:#007bff; color:#fff; border-bottom:1px solid #444; }
#messages .notice a             { color:#fff; text-decoration:underline; }
#messages .notice a:hover       { text-decoration:none; }
#messages .notice .close        { color:#fff; }
#messages .notice .close:hover  { color:#eee; }

#messages .success               { background:#0f0; color:#000; border-bottom:1px solid #062; }
#messages .success a             { color:#000; text-decoration:underline; }
#messages .success a:hover       { text-decoration:none; }
#messages .success .close        { color:#000; }
#messages .success .close:hover  { color:#062; }

#messages .alert                 { background:#f00; color:#eee; border-bottom:1px solid #444; }
#messages .alert a               { color:#fff; text-decoration:underline; }
#messages .alert a:hover         { text-decoration:none; }
#messages .alert .close          { color:#ccc; }
#messages .alert .close:hover    { color:#fff; }



/* Menu's | #menu_main >> Main menu ofcourse - .menu >> global menu layout
*************************************************************************/
#menu_main
{
	overflow:hidden;
	list-style:none;
	margin:10px auto;
	width:980px;
	padding:0;
}

#menu_main li
{
	float:left;
	list-style:none;
	border:1px solid #000;
	border-left:none;
}

#menu_main li:first-child
{
	border:1px solid #000;
}

#menu_main a
{
	text-decoration:none;
	display:block;
	padding:5px 10px;
}

#menu_main a:hover
{
	background:#ccc;
}

/* .menu
------------------------------------------------------------------------*/
ul.menu
{
	padding:0;
	margin:10px 0;
	list-style:none;
}

.menu.hor li
{
	display:inline;
	list-style:none;
	padding:0 10px;
}

/* Global styles
*************************************************************************/
label
{
	width:100px;
	float:left;
}

input, textarea, select
{
	width:400px;
}

input[type=submit]
{
	margin:0 0 0 100px;
	width:auto;
}

table
{
	width:100%;
}

th
{
	padding: 0 10px 10px;
	border-bottom:3px solid #777;
	margin:0 0 10px;
}

th:first-child
{
	text-align:left;
}

td
{
	padding:10px;
}

td:nth-child(n+2)
{
	text-align:center;
}


td a.iconic, td a, td a.iconic:hover
{
	text-decoration:none;
}

td a:hover
{
	text-decoration:underline;
}

article
{
	border:1px solid #bbb;
	background:#f9f9f9;
	padding:10px 20px 20px;
	position:relative;
}

article aside
{
	border: 1px solid #ddd;
	background:#fff;
	position:relative;
}

article aside h2
{
	margin:1em;
}

article aside nav
{
	position:absolute;
	top:10px;
	right:10px;
}

article footer nav
{
	position:absolute;
	top:10px;
	right:10px;
}

article footer nav ul
{
	margin:0;
	padding:0;
	list-style:none;
}

article footer nav li
{
	list-style:none;
	margin:0;
	float:right;
}





.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

